.pane-block p,
.search-results p {
  margin: 0px 0px 15px;
}

.block-facetapi .content {
  margin: 0 10px;
}

.page-search .box {
  background: transparent url("../img/layout/tablehead.png") repeat-x scroll left -90px;
  padding: 10px 0px 0px;
}