/*
_________ _______ _________ _______
\__   __/(  ____ \\__   __/(  ___  )
   ) (   | (    \/   ) (   | (   ) |
   | |   | |         | |   | (___) |
   | |   | |         | |   |  ___  |
   | |   | |         | |   | (   ) |
   | |   | (____/\___) (___| )   ( |
   )_(   (_______/\_______/|/     \|
  2012                  Ryan Hartman

"Everybody who runs a Web site knows we're not assured of compatibility.."
  - Tim Berners-Lee

   ------------------------------ START BODY ------------------------------- */
body { font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif !important; color: #3c3732; }
body #main-content-container { font-size: 13px; }
#page { background: #fff url('../img/layout/repeat3.jpg') repeat center top scroll; padding:10px 0 45px; }
#main-content-container { margin-top: 0; }
.sidebar-right #main-wrapper { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
#main-wrapper-outer { margin: 0 5px; background: transparent url('../img/layout/page_bg_sub.png') repeat top left scroll; position: relative; -webkit-border-radius: 0 0 100px; -moz-border-radius: 0 0 100px; border-radius: 0 0 100px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); padding-top: 10px; }
.landing #main-wrapper-outer { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; padding-top: 38px; }

.front #hp-bottom-wrap { padding-top: 20px; }
.not-front #main-content { margin-bottom:0; padding-bottom: 20px; }
#header-first { height: 96px; }
#content-top { margin-bottom: 15px; }
.front #postscript-wrapper { margin-top:20px; }
.not-front #postscript-inner { position: relative; padding-top: 10px; margin: 0 5px; background: transparent url('../img/layout/page_bg_sub.png') repeat top left scroll; -webkit-border-radius: 0 0 100px; -moz-border-radius: 0 0 100px;
  border-radius: 0 0 100px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); }
/* ------------------------------ END BODY ------------------------------- */



/* ------------------------------ START SIDEBAR ------------------------------- */
.tcia-sidebar-last { width: 200px !important; padding: 15px 0 86px; }
.tcia-sidebar-last .block-menu_block { width:205px; margin: 0 0 20px; }
.tcia-sidebar-last .block-block,
.tcia-sidebar-last .block-nodeblock
 { margin: 0 5px 20px; }
.tcia-sidebar-last .block-block h2,
.tcia-sidebar-last .block-nodeblock h2 { color: #3C3732; padding: 0 0 0 7px; background: url("../img/layout/tablehead.png") repeat-x scroll left bottom transparent; font-size: 17px; letter-spacing: 0; height:40px; line-height:40px; }
.tcia-sidebar-last .block-block .content,
.tcia-sidebar-last .block-nodeblock .content .content { padding: 5px 5px 5px 7px; background-color: #FCF8F3; }
/* ------------------------------ END SIDEBAR ------------------------------- */



/* ------------------------------ START TYPOGRAPHY ------------------------------- */
h1 { font-size: 19px; margin-top:15px; margin-bottom:20px; font-family: helvetica,arial,freesans,clean,sans-serif; }
h1#page-title { margin-left: -5px; }
h2 { font-size: 16px; margin: 25px 0 15px -2px; font-family: helvetica,arial,freesans,clean,sans-serif; color: #3a4c00; }
h2 a { color: #3a4c00 !important; text-decoration: none;}
h2 a:hover { text-decoration: underline;}
h3 { color: #3A4C00; font-family: helvetica,arial,freesans,clean,sans-serif; font-size: 14px; font-style: italic; letter-spacing: normal; margin: 25px 0 15px -2px; }
h4 { color: #3A4C00; font-family: helvetica,arial,freesans,clean,sans-serif; font-size: 13px; letter-spacing: normal; }
.training-type h2 {margin-top:0;}
p { margin: 0 0 15px 0; }
a:hover { color: #3A4C00; }
a:link { color: #3C3732; }
.node ul, .node ol { padding-left:30px !important; margin-left:0 !important; }
.node ul ul { margin-bottom:0; }
.node-links ul { padding:0 !important; }
blockquote { padding: 0 0 0 40px; }

  /* Images */

  .image_effect, .imagecache-node-gallery-display { border: 4px solid #fff; box-shadow: 0px 0px 5px rgba(60, 55, 50, 0.50); behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); }
  .image_right { float: right; margin: 0 0 0 1.5em; }
  .image_left { float: left; margin: 0 1.5em 0 0; }
  .image_center. .imagecache-node-gallery-display { display: block; margin: 0pt auto; }

/* ------------------------------ END TYPOGRAPHY ------------------------------- */



/* ------------------------------ START MESSAGES ------------------------------- */
#msgs .grid-24 { background: url("../img/layout/page_bg_sub.png") repeat scroll left top transparent; }
.front #msgs .grid-24 { background: url("../img/layout/page_bg.png") repeat scroll left top transparent; }
#msgs .messages { margin: 10px 20px; }
/* ------------------------------ END MESSAGES ------------------------------- */



/* ------------------------------ START LOGO ------------------------------- */
#site-header { background: transparent url('../img/layout/header.png') no-repeat top left scroll; height:161px; position:relative; margin-top: 0; }
#branding { padding: 20px 0 0; }
#branding a { margin: 0 0 0 40px }
/* ------------------------------ END LOGO ------------------------------- */



/* ------------------------------ START BREADCRUMBS ------------------------------- */
#internal-nav { margin-top: 0; position:relative; }
#bcrumb { background: transparent url('../img/layout/bcrumb-header-box.png') repeat-x top left scroll; height: 25px; position: absolute; top: 0; left:0; z-index: 10; }
#bcrumb .breadcrumb { font-size: 11px; padding: 5px 40px 3px; text-transform: uppercase; }
#internal-nav .header-img { position: relative; top:0; left:0; z-index: 5; }
#internal-nav .header-img img { vertical-align:bottom; }
#internal-nav .header-img a.header-button {
	background-color: #666666;
  bottom: 45px;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  text-decoration: none;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	text-shadow:1px 1px 0px #528ecc;
}

#internal-nav .header-img a.header-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
/* ------------------------------ END BREADCRUMBS ------------------------------- */



/* ------------------------------ START USER-LOGGED IN ------------------------------- */
#welcome { text-align: left; left: -35px; position: absolute; }
#welcome div { padding-right: 5px; text-shadow: 1px 1px 1px #666; }
#welcome, #welcome a { color: #fff; text-decoration: none;}
#welcome a:hover { text-decoration: underline;}
/* ------------------------------ END USER-LOGGED IN ------------------------------- */



/* ------------------------------ START ZIP CODE SEARCH ------------------------------- */
/* Page */
#node-webform-1724 { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
#zip-search-page .basic-wrapper { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color:#b0b799; margin:0; padding:10px; }
#zip-search-page .basic-wrapper-inner { position:relative; }

#zip-search-page .basic-wrapper-inner .webform-component,
#zip-search-page .basic-wrapper-inner .options-wrapper { display: inline-block; }

#zip-search-page .basic-wrapper-inner .form-item,
#zip-search-page .basic-wrapper-inner .webform-component { margin: 0; padding: 0; }

#zip-search-page .basic-wrapper-inner .form-text,
#zip-search-page input,
#zip-search-page select { padding: 3px; }

#zip-search-page .basic-wrapper-inner .form-submit { margin-left: 15px; padding: 3px; }

#zip-search-page .basic-wrapper-inner span { padding-left: 15px; }

#zip-search-page #webform-component-ZipCode label { width: auto; padding-top: 2px; }
#zip-search-page .form-item { margin: 0; }

#zip-search-page .form-radios label.option { padding: 0px 0px 0px 20px; }

#zip-search-page table { margin-bottom: 0; }
#zip-search-page table .first-row { width: 219px; }
#zip-search-page table .middle-row { width: 266px; }
#zip-search-page .form-radios .form-item,
#zip-search-page table .last-row { width: 315px; }

#zip-search-page .advanced-wrapper { margin: 5px 20px 10px; background-color: #EAE1D7; border-left: 2px solid #B0B799; border-right-width: 0; border-top-width: 0; border-bottom-width: 0; }
#zip-search-page .advanced-wrapper-inner { padding:10px; }
#zip-search-page .advanced-wrapper label { text-align: left; width: auto; display: block; }

/* Block */

#block-nodeblock-2868 .content {
  padding: 0;
}
/* ------------------------------ START ZIP CODE SEARCH ------------------------------- */



/* ------------------------------ START NAVIGATION ------------------------------- */
#top-navigation { height: 25px; line-height: 25px; text-align: right; }
#top-navigation .menu { float:right; }
#top-navigation .menu li { display: block; float: left; height: 25px; padding:0; margin: 0 0 0 2px; }
#top-navigation .menu a { display: block; padding: 0 7px; color: #fff; text-transform: uppercase; text-shadow: 1px 1px 1px #000; text-decoration: none; }
#top-navigation .menu a:hover, #top-navigation .menu .active-trail a { color: #3A4C00; background: transparent url('../img/layout/header-tab.png') repeat-x bottom left scroll; text-shadow: 1px 1px 1px #fff; }

#navigation { background: transparent url('../img/layout/navbar.png') no-repeat top left scroll; margin:0; width: 960px; height:40px; }
#navigation .content { margin: 0 40px; }
#navigation ul.nice-menu { float: left; z-index: 100 !important; }
#navigation ul.nice-menu li { background: none; border: 0; margin-right: 22px; }
#navigation ul.nice-menu li a { padding: 0; height: 40px; overflow: hidden; }
#navigation ul.nice-menu ul { top:42px; border:0; padding-bottom: 5px; background-color:#324200; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; z-index: 100 !important; }
#navigation ul.nice-menu ul li { list-style: none; border:0; background: none; margin:0; width:130px; background-color:#324200; }
#navigation ul.nice-menu ul li.menuparent {  width:130px; }
#navigation ul.nice-menu ul li.menuparent.over { background-color:#717f43; -webkit-border-radius: 4px 0 0 4px;  -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
#navigation ul.nice-menu ul li a { position: relative; text-indent: 0; font-size: 11px; height:auto; color:#fff; display:block; padding: 5px 10px; width:auto;  text-decoration:none; }
#navigation ul.nice-menu ul ul { top: 0px; padding: 0; left:130px; right:auto; background-color:#717f43; -webkit-border-radius: 0 4px 4px 4px; -moz-border-radius: 0 4px 4px 4px; border-radius: 0 4px 4px 4px; }
#navigation ul.nice-menu ul ul li { background: none !important; }
#navigation ul.nice-menu ul ul li a {}

  /* Active State */
  #navigation ul.nice-menu ul a.active { font-weight:bold; }

  /* Hover State */
  #navigation ul.nice-menu ul a:hover { text-decoration: underline; }

  /* Image replacement */
  #navigation a img { top: 7px; }
  #navigation a:hover img, #navigation .over a img { top: -33px; }
  #navigation .active a img, #navigation .active-trail a img { top: -73px; }

  /* Training Specific */
  #navigation li.menu-2188 {  margin-right: 0 !important; }
/* ------------------------------ END NAVIGATION ------------------------------- */



/* ------------------------------ START SIDEBAR NAVIGATION ------------------------------- */
#sidebar-last .block-menu_block { background: url("../img/layout/sidebar-bg.png") no-repeat scroll left bottom transparent; }
#sidebar-last .block-menu_block h2 { margin:0; padding: 0; background: transparent url('../img/layout/navbar.png') no-repeat bottom left scroll; }
#sidebar-last .block-menu_block h2 a { line-height: 40px; height: 40px; color: #fff !important; letter-spacing:0px; font-size: 17px; text-decoration: none; display: block; padding: 0 12px; }
#sidebar-last h2 .block-menu_block a img { top: -4px; }
#sidebar-last .block-menu_block .content { padding:0 10px 6px 5px; }
#sidebar-last .block-menu_block ul { margin:0; padding:8px 0 4px; list-style: none; }
#sidebar-last .block-menu_block li { margin:0; padding:0; list-style: none; }
#sidebar-last .block-menu_block li a { text-decoration: none; display: block; padding: 5px 12px; font-size: 12px; color: #3c3732; }

  /* Normal Active Item */
  #sidebar-last .block-menu_block ul a.active-trail,
  #sidebar-last .block-menu_block ul a.active { padding: 5px 12px 5px 9px; font-weight: bold; }

  /* Active Trail Container */
  #sidebar-last .block-menu_block ul li.active-trail,
  #sidebar-last .block-menu_block ul li.active,
  #sidebar-last .block-menu_block ul li.nolink-li { background-color: #fff; border-left: 3px solid #846053; border-top: 1px solid #cdcccc; border-bottom: 1px solid #cdcccc;
  font-weight: bold; }
  #sidebar-last .block-menu_block ul li.active-trail a { border-left: 0; font-style: italic; }

  /* Active Trail Main Item */
  #sidebar-last .block-menu_block ul li.active-trail a.active { border-left: 0; }
  #sidebar-last .block-menu_block ul li.nolink-li span.nolink {
    font-style: italic;
    font-weight: bold;
    padding: 5px 12px 5px 9px;
    color: #3C3732;
    display: block;
    font-size: 12px;
    text-decoration: none;
  }

  /* Active Trail Child Container */
  #sidebar-last .block-menu_block ul ul { padding:0 0 6px 9px; }

  /* Active Trail Child List Item */
  #sidebar-last .block-menu_block ul ul li { border-left: 1px solid #846053 !important; }
  #sidebar-last .block-menu_block ul ul li.active { border-left: 3px solid #846053 !important; border-top: 0 !important; border-bottom: 0 !important; }
  #sidebar-last .block-menu_block ul ul li a { font-weight: normal; padding: 5px 12px 5px 9px; font-style: normal !important; height: auto; }
  #sidebar-last .block-menu_block ul ul li a.active { padding: 5px 12px 5px 7px; }
  #sidebar-last .block-menu_block ul a:hover { font-weight: bold; }
/* ------------------------------ END SIDEBAR NAVIGATION ------------------------------- */



/* ------------------------------ START PHONE BLOCK ------------------------------- */
#block-block-7 { padding: 16px 15px 10px 0; text-align: right; }
#block-block-7 .content p { font-size: 15px; }
/* ------------------------------ END PHONE BLOCK ------------------------------- */



/* ------------------------------ START SEARCH BOX ------------------------------- */
#block-search-0 { position: absolute; bottom:40px; right: 231px; }
#block-search-0 .form-item { margin:0; }
#block-search-0 .container-inline { position:absolute; }
#block-search-0 #edit-search-block-form-1 { border:0; padding:4px 8px 4px 32px; box-shadow: 2px 2px 2px #496950; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); position: relative; background-color: #fff; color: #666; }
#block-search-0 .form-submit { left: -10px; position: absolute; top: 1px; z-index: 10; }
/* ------------------------------ END SEARCH BOX ------------------------------- */



/* ------------------------------ START SEARCH RESULTS ------------------------------- */
#search-form #edit-keys-wrapper label { display: none; }
#search-form #edit-keys-wrapper .form-item { background-color: #fff; padding:5px; border: 1px solid #ccc; margin:0;  -webkit-border-radius: 13px 0px; -moz-border-radius: 13px 0px; border-radius: 13px 0px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc);}
#search-form #edit-keys-wrapper .form-text { border: none; margin:0; padding:0; width:400px; }
#search-form #edit-keys-wrapper .form-submit { cursor: pointer; font-weight: bold; left: 5px; margin: 0; padding: 3px; position: relative; background: url("../img/layout/navbar2.png") no-repeat scroll center top transparent; border: 1px solid #268A16; border-radius: 5px; color: #FFFFFF; text-decoration: none; }
.section-search .box .content { background: url("../img/layout/tablehead.png") repeat-x scroll left -90px transparent; padding: 10px 0 0; }
.search-results { background-color:#fff; padding: 15px 15px 1px; margin: 0; }
.search-results dt { font-weight: bold; margin: 0 0 5px; }
.search-results dd { margin:0 0 15px; padding:0; border-bottom: 1px solid #ccc; }
.search-results .search-info { display: inline-block; background-color: #e2e4d9; color:#3a4c00; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); padding: 1px 3px; font-weight: normal; }
/* ------------------------------ END SEARCH RESULTS ------------------------------- */


/* ------------------------------ START SEARCH FACETS ------------------------------ */
#block-luceneapi_facet-luceneapi_node h3 { margin: 5px 0 10px -2px; border-bottom: 1px solid #ccc; }
#block-luceneapi_facet-luceneapi_node ul,
#block-luceneapi_facet-luceneapi_node li { list-style: none; margin: 0; padding: 0; color: #555e3a; margin: 0 0 5px; }
#block-luceneapi_facet-luceneapi_node a { text-decoration: none; font-weight: bold; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); padding: 1px 5px; display: inline-block; background-color: #c6c8b2; color: #3C3732; }
#block-luceneapi_facet-luceneapi_node a:hover { background-color: #aeb394; }
#block-luceneapi_facet-luceneapi_node a.active { background-color: #899466; display: block; padding: 3px 5px; color: #fff; }
/* ------------------------------ END SEARCH FACETS ------------------------------ */



/* ------------------------------ START LOGIN BOX ------------------------------- */
#block-user-0 { display: none; background-color: #b5bca1; position: absolute; right: 0; z-index: 90; }
#block-user-0 .form-item { margin:0; }
#block-user-0 #user-login-form { text-align: left; padding:5px; }
#block-user-0  label { display: none; }
.formy { width: 40%; float:left; }
#block-user-0 .item-list ul { list-style: none; margin:0; padding:0; line-height: 10px; }
#block-user-0 .item-list li { list-style: none; margin:0; padding:0; line-height: 10px; display: inline; }
#block-user-0 #edit-name, #block-user-0 #edit-pass { color: #666; }
#block-user-0 a { font-size: 10px; line-height: 10px; }

#block-tcia_imis-1 ul.menu { padding:0; }
/* ------------------------------ END LOGIN BOX ------------------------------- */



/* ------------------------------ START QUICKTABS ------------------------------- */
#postscript-wrapper {  }
.front #postscript-wrapper ul.quicktabs_tabs { padding:0; text-align: right; }
.front #postscript-wrapper ul.quicktabs_tabs .first { margin-right:-15px; }
.front #postscript-wrapper ul.quicktabs_tabs .last { margin-right: 0; }
.front #postscript-wrapper ul.quicktabs_tabs li { width:103px; height:20px; line-height:20px; display:inline-block; padding:0; position: relative; }
.front #postscript-wrapper ul.quicktabs_tabs li.active { z-index:2; }
.front #postscript-wrapper ul.quicktabs_tabs li.active a { color: #fff; background-position: bottom left; }
.front #postscript-wrapper ul.quicktabs_tabs li a { background: transparent url('../img/layout/post_block_tabs.png') no-repeat top left scroll; height:20px; line-height:20px; display:block; text-align: left; padding: 0 0 0 17px; color: #000; font-weight: bold; }
.front #postscript-wrapper div.quicktabs_main { background: transparent url('../img/layout/post_block.png') no-repeat top left scroll; height: 140px; overflow: auto; position: relative; }
.front #postscript-wrapper div.quicktabs_tabpage { padding:12px 12px 20px; }

.landing #postscript-wrapper ul.quicktabs_tabs { padding: 0; }
.landing #postscript-wrapper ul.quicktabs_tabs li { -webkit-border-radius: 15px 15px 0 0; -moz-border-radius: 15px 15px 0 0; border-radius: 15px 15px 0 0; background-color: #A0A681;}
  .page-business #postscript-wrapper ul.quicktabs_tabs li.active { background-color:#772432;}
  .page-business #postscript-wrapper .quicktabs_tabpage { border-top: 5px solid #772432;}

  .page-safety #postscript-wrapper ul.quicktabs_tabs li.active { background-color:#FF5800;}
  .page-safety #postscript-wrapper .quicktabs_tabpage { border-top: 5px solid #FF5800;}

  .page-events #postscript-wrapper ul.quicktabs_tabs li.active { background-color:#00467F;}
  .page-events #postscript-wrapper .quicktabs_tabpage { border-top: 5px solid #00467F;}

  .page-membership #postscript-wrapper ul.quicktabs_tabs li.active { background-color:#3E4519;}
  .page-membership #postscript-wrapper .quicktabs_tabpage { border-top: 5px solid #3E4519;}

  .page-publications #postscript-wrapper ul.quicktabs_tabs li.active { background-color:#728FA3;}
  .page-publications #postscript-wrapper .quicktabs_tabpage { border-top: 5px solid #728FA3;}

.landing #postscript-wrapper ul.quicktabs_tabs li a { padding: 2px 17px; color: #fff; }
/* ------------------------------ END QUICKTABS ------------------------------- */



/* ------------------------------ START NEWS BLOCK ------------------------------- */
#block-quicktabs-news_blogs_tabs .quicktabs_tabpage ul,
.not-front #postscript-one #block-views-News-block_1 ul { margin:0; padding:0; list-style: none; }
#block-quicktabs-news_blogs_tabs .quicktabs_tabpage li,
.not-front #postscript-one #block-views-News-block_1 li { list-style: none; font-size: 11px; margin:0; border-bottom: #666 dotted 1px; padding: 4px 0 4px 8px; background: url('../img/layout/bullet-tiny.gif') no-repeat scroll 0 10px transparent; }
#block-quicktabs-news_blogs_tabs .quicktabs_tabpage li a,
.not-front #postscript-one #block-views-News-block_1 li a { text-decoration: none; }
#block-quicktabs-news_blogs_tabs .quicktabs_tabpage li a:hover,
.not-front #postscript-one #block-views-News-block_1 li a:hover { text-decoration: underline; }
.front #block-quicktabs-news_blogs_tabs .quicktabs_tabpage .more-link { bottom: 5px; position: absolute; right: 35px; font-size: 11px; }
.not-front #postscript-one #block-views-News-block_1 { margin: -20px 0 0 40px; }

.not-front #postscript-one #block-quicktabs-news_blogs_tabs { margin: -20px 0 0 40px; }
/* ------------------------------ END NEWS BLOCK ------------------------------- */



/* ------------------------------ START JOIN TODAY BLOCK ------------------------------- */
#block-block-1 { margin-left: 520px; height:20px; line-height: 20px; }
a.jointhing { width:298px; height:17px; background: url('../img/layout/join.png'); text-indent: -9999px; display: inline-block; margin-top:5px; }
/* ------------------------------ END JOIN TODAY BLOCK ------------------------------- */



/* ------------------------------ START VIDEO BLOCK ------------------------------- */
#quicktabs-media_tabs div.quicktabs_tabpage { padding:0 !important; }
#quicktabs-media_tabs div.quicktabs_main { overflow: visible !important; }
#quicktabs-media_tabs a img { position: relative; -webkit-border-radius: 40px 0 40px 0; -moz-border-radius: 40px 0 40px 0; border-radius: 40px 0 40px 0; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); }
/* ------------------------------ END VIDEO BLOCK ------------------------------- */



/* ------------------------------ START SOCIAL MEDIA BLOCK ------------------------------- */
#block-tcia_blocks-0 #hp-social-links ul { list-style:none; padding:0; width: 189px; margin:0 auto; }
#block-tcia_blocks-0 #hp-social-links li { list-style:none; display: inline; margin: 0 2px 0 1px; }
#block-tcia_blocks-0 #hp-social-links li a { height:24px; width:24px; line-height:0; }
#block-tcia_blocks-0 .tweet-authorphoto { display: none; }
#block-tcia_blocks-0 h2 { background: url("../img/layout/post_block_tabs.png") no-repeat scroll left bottom transparent; display: block; height: 20px; line-height: 20px; text-align: left; font-size:13px; margin-left: 127px; padding-left:10px; font-family: Verdana,Helvetica,Arial,sans-serif; color: #fff; }

#block-tcia_blocks-0 .tweets-pulled-listing ul { margin:0; padding:0; font-size: 11px; }
#block-tcia_blocks-0 .tweets-pulled-listing li,
#block-tcia_blocks-0 .tweets-pulled-listing .tweet-text { line-height:1; }
#block-tcia_blocks-0 .tweettitle { color: #3A4C00; font-weight: bold; }
#block-tcia_blocks-0 .tweet-author { display: none; }
#block-tcia_blocks-0 .tweet-text { font-size: 10px; color: #000; }
#block-tcia_blocks-0 .tweet-time a { font-size: 9px; color: #000; }
#block-tcia_blocks-0  .tweets-pulled-listing a { color: #3C3732; }
/* ------------------------------ END SOCIAL MEDIA BLOCK ------------------------------- */



/* ------------------------------ START SLIDESHOW ------------------------------- */
.view-Slideshows { margin-left:40px; }
.view-Slideshows .views-slideshow-controls-top { height:21px; }
.view-Slideshows .views_slideshow_main { width: 682px; height: 323px; }
.view-Slideshows .views_slideshow_slide { width: 682px; height: 323px; background: none !important; }
.view-Slideshows .views_slideshow_slide .views-row { padding: 7px 19px 7px 7px; position:relative; }
.view-Slideshows .slideshow-image { height:296px; position: relative; }
.view-Slideshows a { display: block; }
.view-Slideshows .slideshow-inside { position:absolute; bottom: 0; left: 0; color:#fff; height: 87px; width: 656px; }
.view-Slideshows .slidehsow-inside-inner { padding: 10px 50px; }
.view-Slideshows h3 { display: none; }
.view-Slideshows .slidehsow-inside-inner h4,
.view-Slideshows .slidehsow-inside-inner p { margin:0; }
.view-Slideshows .view-content { background: transparent url('../img/layout/slideshow-home-trans.png') no-repeat bottom left scroll; height: 344px; }
.views_slideshow_singleframe_pager { margin-right: 40px; float: right; position:relative; }
.views_slideshow_singleframe_pager div a { color: #fff; display: block; font-size: 12px; padding: 2px 17px; text-decoration: none; }
.views_slideshow_singleframe_pager div { background-color: #a0a681; display: block; float: left; -webkit-border-radius: 15px 15px 0 0; -moz-border-radius: 15px 15px 0 0; border-radius: 15px 15px 0 0; padding:0; font-size: 12px; position: relative; }
.views_slideshow_singleframe_pager div.activeSlide { background-color: #513021; }

  .page-business .view-Slideshows .view-content { background: transparent url('../img/layout/slideshow-business-trans.png') no-repeat bottom left scroll; }
  .page-business .views_slideshow_singleframe_pager div.activeSlide { background-color: #772432; }
  .page-events .view-Slideshows .view-content { background: transparent url('../img/layout/slideshow-events-trans.png') no-repeat bottom left scroll; }
  .page-events .views_slideshow_singleframe_pager div.activeSlide { background-color: #00467F; }
  .page-membership .view-Slideshows .view-content { background: transparent url('../img/layout/slideshow-membership-trans.png') no-repeat bottom left scroll; }
  .page-membership .views_slideshow_singleframe_pager div.activeSlide { background-color: #3E4519; }
  .page-safety .view-Slideshows .view-content { background: transparent url('../img/layout/slideshow-safety-trans.png') no-repeat bottom left scroll; }
  .page-safety .views_slideshow_singleframe_pager div.activeSlide { background-color: #ff5800; }
  .page-publications .view-Slideshows .view-content { background: transparent url('../img/layout/slideshow-publications-trans.png') no-repeat bottom left scroll; }
  .page-publications .views_slideshow_singleframe_pager div.activeSlide { background-color: #728fa3; }
/* ------------------------------ END SLIDESHOW ------------------------------- */



/* ------------------------------ START LANDING PAGE BLOCKS ------------------------------- */


#postscript-two .block-nodeblock,
#block-views-events-block_1 { -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); position:relative; }
#postscript-two .block-nodeblock h2,
#block-views-events-block_1 h2 { font-family: Verdana,Helvetica,Arial,sans-serif; }
#postscript-two .block-nodeblock a { text-decoration: none; color: #3A4C00; font-weight: bold; padding-left: 15px; }
#postscript-two .block-nodeblock a:hover { color: #617C07; background: transparent url('../img/layout/tree-hover.png') left center no-repeat scroll; }
#postscript-two .block-nodeblock .node,
#block-views-events-block_1 { border-bottom: 0; margin-bottom: 0; padding-bottom: 0; min-height: 180px; height: 180px; }
#postscript-two .block-nodeblock p { margin-bottom: 10px; font-size:11px; padding-left: 15px; }
#postscript-two .block-nodeblock .grid-5 { text-align: center; margin-top: -15px; }
#postscript-two .block-nodeblock .grid-6 { padding-top: 5px; }

  /* Safety Landing Block */
  #block-nodeblock-9 { background-color: #DAE8A2; margin-top: -20px; }

  /* Business Landing Block */
  #block-nodeblock-10 { background-color: #C8E59A; margin-top: -20px; }

  /* Events Landing Block */
  #block-views-events-block_1 { background-color: #7D9AAA; margin-top: -20px; }

  /* Membership Landing Block */
  #block-nodeblock-12 { background-color: #C8E59A; margin-top: -20px; }

  /* Publications Landing Block */
  #block-nodeblock-288 { background-color: #728fa3; margin-top: -20px; }
  #block-nodeblock-288 .grid-5 { margin-top: 10px !important; }
  #block-nodeblock-288 .grid-6 { padding-top: 25px !important; }
/* ------------------------------ END LANDING PAGE BLOCKS ------------------------------- */



/* ------------------------------ START LANDING PAGE MENUS ------------------------------- */
  /* Home Page */
  .menu-block-3 { border-left: 1px solid #3A4C00; font-size: 11px; }
  .menu-block-3 ul,
  .menu-block-3 li { list-style: none; margin:0 !important; padding:0 !important; }
  .menu-block-3 li a { padding: 3px 10px 3px 7px; display: block; text-transform: uppercase; background-color: #3A4C00; color: #fff; text-decoration: none; }
  .menu-block-3 li a:visited { color: #fff; }
  .menu-block-3 li a:hover { text-decoration: underline; }
  .menu-block-3 li.leaf a { background-color: transparent; color: #3A4C00; text-transform: none; padding: 3px 0 3px 11px; }
  .menu-block-3 li.leaf a:visited { color: #3A4C00; }
  .menu-block-3 ul ul {padding: 1px 0 5px !important; margin:0;}

  /* Set Colors */
  .page-safety #postscript-three .block-menu_block .menu-level-1 { border-left: 1px solid #FF5800; }
  .page-safety #postscript-three .block-menu_block .menu-level-1 li a,
  .page-safety #postscript-three .block-menu_block .menu-level-1 li span.nolink { background-color: #FF5800; }
  .page-safety #postscript-three .block-menu_block h2 { color: #FF5800; }

  .page-events #postscript-three .block-menu_block .menu-level-1 { border-left: 1px solid #00467F; }
  .page-events #postscript-three .block-menu_block .menu-level-1 li a,
  .page-events #postscript-three .block-menu_block .menu-level-1 li span.nolink { background-color: #00467F; }
  .page-events #postscript-three .block-menu_block h2 { color: #00467F; }

  .page-business #postscript-three .block-menu_block .menu-level-1 { border-left: 1px solid #772432; }
  .page-business #postscript-three .block-menu_block .menu-level-1 li a,
  .page-business #postscript-three .block-menu_block .menu-level-1 li span.nolink { background-color: #772432; }
  .page-business #postscript-three .block-menu_block h2 { color: #772432; }

  .page-membership #postscript-three .block-menu_block .menu-level-1 { border-left: 1px solid #3e4519; }
  .page-membership #postscript-three .block-menu_block .menu-level-1 li a,
  .page-membership #postscript-three .block-menu_block .menu-level-1 li span.nolink { background-color: #3e4519; }
  .page-membership #postscript-three .block-menu_block h2 { color: #3e4519; font-size:29px; }

  .page-publications #postscript-three .block-menu_block .menu-level-1 { border-left: 1px solid #728fa3; }
  .page-publications #postscript-three .block-menu_block .menu-level-1 li a,
  .page-publications #postscript-three .block-menu_block .menu-level-1 li span.nolink { background-color: #728fa3; }
  .page-publications #postscript-three .block-menu_block h2 { color: #728fa3; font-size:28px; }

  /* Set Position */
  .page-safety #postscript-three,
  .page-events #postscript-three,
  .page-membership #postscript-three,
  .page-business #postscript-three,
  .page-publications #postscript-three { position: relative; height: 159px; width: 200px; }

  .page-safety #postscript-three .block,
  .page-events #postscript-three .block,
  .page-membership #postscript-three .block,
  .page-business #postscript-three .block,
  .page-publications #postscript-three .block { margin: 15px 0 0 5px; }

  .page-safety #postscript-three .block-menu_block,
  .page-events #postscript-three .block-menu_block,
  .page-membership #postscript-three .block-menu_block,
  .page-business #postscript-three .block-menu_block,
  .page-publications #postscript-three .block-menu_block { margin: -376px 0 0 5px; width: 190px; }

  .page-safety #main-wrapper,
  .page-membership #main-wrapper,
  .page-events #main-wrapper,
  .page-business #main-wrapper,
  .page-publications #main-wrapper { border-radius: 0; }

  /* Don't Touch */
  #postscript-three .block-menu_block h2 { font-family:Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif; font-size:34px; line-height:1; }
  #postscript-three .block-menu_block .menu-level-1 { font-size: 11px; }
  #postscript-three .block-menu_block .menu-level-1 .menu { width:150px; }
  #postscript-three .block-menu_block .menu-level-1 ul,
  #postscript-three .block-menu_block .menu-level-1 li { list-style: none; margin:0 !important; padding:0 !important; }
  #postscript-three .block-menu_block .menu-level-1 ul ul { padding:1px 0 5px !important; }
  #postscript-three .block-menu_block .menu-level-1 li a,
  #postscript-three .block-menu_block .menu-level-1 li span.nolink { padding: 3px 10px 3px 7px; display: block; text-transform: uppercase; color: #fff; text-decoration: none; }
  #postscript-three .block-menu_block .menu-level-1 li a:hover { text-decoration: underline; }
  #postscript-three .block-menu_block .menu-level-1 li a:visited { color: #fff; }
  #postscript-three .block-menu_block .menu-level-1 li.leaf a { background-color: transparent; color: #3A4C00; text-transform: none; padding: 3px 0 3px 11px; }
  #postscript-three .block-menu_block .menu-level-1 li.leaf a:visited { color: #3A4C00; }
/* ------------------------------ END LANDING PAGE MENUS ------------------------------- */



/* ------------------------------ START TRAINING CENTER ------------------------------- */
.view-id-training_center td { width: 50%; }
.view-id-training_center td.col-1 { border-left: none; }
.view-id-training_center td.col-2 { border-right: none; }
.training-type { padding: 10px 15px 25px 10px; background: transparent url("../img/layout/box-bg.png") no-repeat scroll left top; }
.training-type p { font-size: 12px; margin-bottom: 10px; }
.training-cat-links { text-align: right; }
.button, .button:link, .button:visited { background: transparent url('../img/layout/navbar2.png') no-repeat top center scroll; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #268a16; display:inline-block; color:#ffffff; font-size:12px; font-weight:bold; padding:2px 7px; text-decoration:none; }
.button:hover { background-color:#5A551E; }
.button:active { position:relative; top:1px; }

  /* Training Center Tables */
  .view-training-center-nodes th,
  .tcia-table th,
  .views-table th { background: url("../img/layout/tablehead.png") repeat-x scroll left bottom transparent; border: medium none; color: #000000; font-style: italic; padding: 10px 5px; vertical-align: bottom; }
  .view-training-center-nodes tbody tr,
  .tcia-table tbody tr,
  .views-table tbody tr { border-bottom: 0.1em dashed #CDCDCD; background-color: #fcf8f3; }
  .view-training-center-nodes tbody tr:hover,
  .view-training-center-nodes tbody tr:hover td.active,
  .tcia-table tbody tr:hover,
  .tcia-table tbody tr:hover td.active,
  .views-table tbody tr:hover,
  .views-table tbody tr:hover td.active { background-color: #fff; }
  .view-training-center-nodes tbody tr:hover td.active,
  .tcia-table tbody tr:hover td.active,
  .views-table tbody tr:hover td.active  { background-color: #FAEFE1; padding: 7px 0; }
  .view-training-center-nodes tbody tr:hover td.active div,
  .tcia-table tbody tr:hover td.active div,
  .views-table tbody tr:hover td.active div { background-color: #ffffff; padding: 8px 5px; }
  .view-training-center-nodes td,
  .tcia-table td,
  .views-table td { padding: 15px 5px; }
  .view-training-center-nodes td.active,
  .tcia-table td.active,
  .views-table td.active { background-color: #faefe1; }
  .view-training-center-nodes ul.pager { margin-bottom: 20px; margin-left: 0 !important; }
  .view-training-center-nodes ul.pager li { margin:0; padding:0; }
  .view-training-center-nodes ul.pager li a { display: inline !important; }

  /* Training center menu links */
  .section-training .panel-display .pane-block .pane-content ul { list-style: none; padding:0; margin:0 !important; }
  .section-training .panel-display .pane-block .pane-content li { display: inline; float:left; margin:0 10px 0 0; padding: 0 0 5px; }
  .section-training .panel-display .pane-block .pane-content li a,
  .view-training-center-nodes ul.pager li a { padding: 5px 10px; display: block; background-color: #c5cab3; text-decoration: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); position:relative; }
  .section-training .panel-display .pane-block .pane-content li a:hover,
  .view-training-center-nodes ul.pager li a:hover { background-color: #b0b799; color:#3C3732; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); }
/* ------------------------------ END TRAINING CENTER ------------------------------- */



/* ------------------------------ START NEWS/BLOG PAGES ------------------------------- */
#main-content .view-News ul { list-style: none; margin:0; padding:0; }
#main-content .view-News li.views-row { list-style: none; margin:0; padding:0; border-bottom: 1px solid #ccc; }
#main-content .view-News li.views-row-first { padding:0; }
#main-content .view-News li div.node { padding:0; margin:0; }
#main-content .view-News li div.node .teaser-content { margin-bottom:10px; }
#main-content .view-News li .teaser-content { margin: 0 10px; }
#main-content .view-News li h2 { margin-bottom: 10px; }
#main-content .view-News li h2 a { color: #3A4C00; text-decoration: none; }
#main-content .view-News li .node-links { margin:0 0 10px 10px; border-left: 1px solid #ccc; }
.node-type-news .node-links, { margin:0 0 20px 0; border-left: 1px solid #ccc; }
#main-content .view-News .node-links-also,
.node-type-news .node-links, { margin-bottom: 25px; }
#main-content .view-News .node-links-also ul,
.node-type-news .node-links-also ul { margin:0 !important; font-size: 12px; padding:0 !important; }
#main-content .view-News .node-links-also li,
.node-type-news .node-links-also li,{ margin:0; padding: 0 0 0 10px; font-style: italic; }
#main-content .view-News .submitted,
.node-type-news .submitted { float: left; padding: 0 0 0 10px; font-size: 11px; }
#main-content .view-News .submitted .taxonomy,
.node-type-news .submitted .taxonomy { display: inline-block; }
#main-content .view-News .submitted .taxonomy ul,
.node-type-news .submitted .taxonomy ul { margin:0 !important; float: none; border: none; }
#main-content .view-News .submitted .taxonomy li,
.node-type-news .submitted .taxonomy li { padding:0; }

.item-list ul.pager {padding: 20px 0 0 !important; }
/* ------------------------------ END NEWS/BLOG PAGES ------------------------------- */

/* ------------------------------ START BLOG ------------------------------- */

  /* Views */
  .view-blog .teaser,
  .view-blog-tags .teaser,
  .view-blog-archive .teaser { border-bottom: 1px solid #ccc; }

  .view-blog .views-row-last .teaser,
  .view-blog-tags .views-row-last .teaser,
  .view-blog-archive .views-row-last .teaser { border: none; }

  .view-blog .teaser-content,
  .view-blog-tags .teaser-content,
  .view-blog-archive .teaser-content { padding-bottom: 20px; }

  /* Popular Tags Block */
  .block-tagadelic .content { padding-left: 10px; }

  /* Blog Archive Block */
  #block-views-blog_archive-block_1 .view-content { padding: 5px 10px 0 0; }
  #block-views-blog_archive-block_1 .views-summary { padding: 0 0 2px 10px; }
  #block-views-blog_archive-block_1 a { text-decoration: none; color: #804308; }
  #block-views-blog_archive-block_1 a:hover { text-decoration: underline; }

  /* Posts */

    /* submission info */
    .full-view .post-data { border-top: 5px solid #e1d5c8; margin-bottom: 20px; color: #3a4c00; font-size: 13px; }
    .post-data-item { display: inline-block; border-right: 1px solid #e1d5c8; }
    .post-data-item ul { padding-left:0 !important; }
    .post-data-item div { padding: 5px 10px; }
    .post-data-item.last { border: none; }
    .post-data .subheading { text-transform: uppercase; color: #666; font-size: 12px; font-weight: bold; }

    .teaser .post-data {
      padding-bottom: 10px;
      font-style: italic;
      font-weight: bold;
    }

    .teaser .post-data ul {
      list-style: none;
      margin:0;
      padding:0;
      padding-left:0 !important;
    }

    .teaser .post-data li {
      padding:5px;
      background-color: #FBF4EA;
      display: inline-block;
    }

    .teaser .post-data li li {
      display: static;
      padding: 0;
    }

    /* body */
    #easysocial-box { padding-bottom: 10px; }

    /* authors */
    #node-author { border-top: 5px solid #e1d5c8; background: transparent url("../img/layout/blog-comments-bg.png") repeat scroll left top; }
    .author-ref p { font-style: italic; }
    .author { padding: 10px; font-size: 12px; color: #615c57; }
    .author-img  { float: left; border: 1px solid #ccc; margin-right: 15px; }
    .author-img img { vertical-align:bottom; border: 5px solid #fff; }

    /* comments */

      /* wrapper */
      #comments { border-top: 5px solid #e1d5c8; background: transparent url("../img/layout/blog-comments-bg.png") repeat scroll left top; }
      #comments-inner { padding: 10px; }

      /* comments themselves */
      .comment { border-top: 1px solid #ccc; background: transparent url("../img/layout/quote.gif") no-repeat scroll 20px 15px; }
      .comment.odd { background-color: #fbf4ea; }
      .comment-inner { padding: 10px 10px 10px 80px; }
      .comment-inner p.comment-author { font-weight: bold; margin:0; font-size: 15px; }
      .comment-inner p.comment-info { margin:0; font-size: 12px; color: #6c6c6b; }
      .comment-inner .content { padding-top:10px; }

      /* form */
      #comments .box h2 { margin: 15px 0 15px -2px; }
      #edit-comment-wrapper textarea { height:100px; }

/* ------------------------------ END BLOG ------------------------------- */


/* ------------------------------ START STAFF PAGE ------------------------------- */
.view-staff-listing img { width: 100px; height: 129px; vertical-align: bottom;}
.view-staff-listing tr td.col-first { width: 345px; }
.view-staff-listing tr td { width: 325px; }
.view-staff-listing .person-inner { padding: 5px; }
.view-staff-listing .person { width: 325px; margin: 0 0 20px; background-color: #fff9f3; box-shadow: 2px 2px 2px #ccc; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); position: relative; }
.view-staff-listing .views-field-field-staff-photo-fid { float: left; margin: 0 10px 0 0; }
.view-staff-listing h3 { font-size: 18px; margin: 0 0 10px; font-family: helvetica,arial,freesans,clean,sans-serif; color: #3a4c00; border-bottom: 1px solid #ccc;}
.view-staff-listing .views-field-title { font-weight: bold; margin: 5px 0;}
.view-staff-listing .views-field-field-staff-title-value { font-style: italic; padding-right: 5px; }
.view-staff-listing .views-field-field-staff-email-email { margin: 10px 0 0; }
.view-staff-listing .views-field-field-staff-email-email a,
.node-type-staff .field-field-staff-email a { background: transparent url("../img/layout/email_icon.png") no-repeat scroll left center; padding: 0 0 0 20px; }
.view-staff-listing .views-field-view-node { margin: 10px 0 0; }
.view-staff-listing .views-field-view-node a { background: transparent url("../img/layout/profile_icon.png") no-repeat scroll left center; padding: 0 0 0 20px; }

  /* ----- STAFF NODES ------- */
  .node-type-staff .imagefield-field_staff_photo { vertical-align: bottom;}
  .node-type-staff .field-field-staff-title,
  .node-type-staff .field-field-staff-dept,
  .node-type-staff .field-field-staff-email,
  .node-type-staff .field-field-staff-bio { margin: 10px 0; }
/* ------------------------------ END STAFF PAGE ------------------------------- */



/* ------------------------------ START EVENT NODES ------------------------------- */
.node-type-event .event-details table { margin:0; padding:0; }
.node-type-event .event-details tr { border: 0; background: none; }
.node-type-event .event-details tr.odd { background-color: #fff; }
.node-type-event .event-details td { padding: .7em .5em .7em 0; background: none; }
.node-type-event .event-details td.heada { font-weight: bold; padding-left: .5em; }
div.place-map { background-color: #fff; padding:5px; }
#edit-locations-0-province-wrapper #autocomplete {
  margin-left:10em; border: none;
}

#edit-locations-0-province-wrapper #autocomplete ul {
  margin-left: 10px;
  border: 1px solid;
}
#edit-locations-0-province-wrapper #autocomplete li {
  padding: 3px 5px;
}
/* ------------------------------ END EVENT NODES ------------------------------- */



/* ------------------------------ START WEBFORMS ------------------------------- */
.webform .webform-component { margin: 0 0 15px; position: relative; }
.webform .webform-component label { width: 150px; text-align: right; display: inline-block; margin-right: 15px; vertical-align: top; }
.webform .webform-component .form-checkboxes,
.webform .webform-component .form-radios { display: inline-block; margin: 0; vertical-align: top; }
.webform .webform-component .form-checkboxes label,
.webform .webform-component .form-radios label { margin: 0; text-align: left; width: auto; position: relative; }
.webform .webform-component .form-radios .form-item { width:500px; }
.webform .webform-component-markup { width:500px; margin: 20px 0 20px 165px; }
.webform .webform-component .form-radios label.option { padding: 0 0 10px 20px; position: relative; }
.webform .webform-component .form-radios label.option input { position:absolute; top:0; left:-5px }
.webform #edit-submitted-message-wrapper { }
.webform .resizable-textarea { display: inline-block; width: 64%; }
.webform .form-actions { margin-left: 165px; }
.webform .webform-component-fieldset .webform-component { width:50%; float: left; vertical-align:top; margin:0; }
.webform .webform-component-fieldset .webform-component-checkboxes .form-item .form-item { margin:0; }
.webform .webform-component-fieldset .form-text { width: auto; }
/* ------------------------------ END WEBFORMS ------------------------------- */



/* ------------------------------ START FOOTER ------------------------------- */
#footer-full { background: transparent url("../img/layout/footer.png") repeat-x scroll left top; position:relative; top:-5px; }
#footer-inner { padding-top: 10px; }
#footer-logo { background: url("../img/layout/tcia.png") no-repeat scroll left top transparent; float: left; height: 36px; width: 50px; }
#footer-message p { padding-left: 55px; }
#footer-logo a { display: block; height: 36px; text-indent: -9999px; width: 50px; }
#footer-message { margin: auto; color: #3A4C00; font-size: 11px; margin: 5px 0; }
#footer-right .block { box-shadow: 0 0 2px 2px #ccc; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); margin: 3px 0 5px; }
#footer-right .block .content { padding:5px; background-color: #e0f1ca; font-size: 9px; }

  /* PACT Footer */
  #block-block-2 p { font-size: 11px; color: #3A4C00; margin: 5px 0; line-height: 1; }
/* ------------------------------ END FOOTER ------------------------------- */



/* ------------------------------ START FOOTER QUICK LINKS ------------------------------- */
#block-menu_block-4 h2 { color: #D7CBBC; font-size: 15px; border: none; padding:0; }
#block-menu_block-4 { padding:10px 15px; background-color: #512B1B; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); position: relative; top:-25px; }
#block-menu_block-4 ul,
#block-menu_block-4 li { margin:0; padding:0; list-style: none; font-size: 11px; }
#block-menu_block-4 li { width: 117px; display: inline-block; margin: 5px 0; position:relative; }
#block-menu_block-4 li a { text-decoration: none; padding: 5px; color: #fff; background-color: #512B1B; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); position:relative; }
#block-menu_block-4 li a:hover { background-color: #A0926E; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); }
/* ------------------------------ END FOOTER QUICK LINKS ------------------------------- */



/* ------------------------------ START RANDOM OVERRIDES ------------------------------- */
.node { border: none; margin:0; padding:0; }
.views-throbbing { background: url("../img/layout/8.png") no-repeat scroll right center transparent !important; }
.pad-right-5 { padding-right: 5px; }

#content-tabs {
  background-color: #faefe1;
  margin: 15px 0 10px;
  padding:5px 10px;
}

#content-tabs ul.primary li a.active:link, #content-tabs ul.primary li a.active:visited {
  padding:0;
}

css3-container { direction: ltr !important; }

#block-views-wmc_tours-block_1 p { margin: 0 0 15px;}

/* ------------------------------ END RANDOM OVERRIDES ------------------------------- */



/* ------------------------------ START CONTENT MANAGEMENT ------------------------------- */
.form-item { margin-bottom: 0.5em; margin-top: 0.5em; }
form table td { vertical-align: top; }

fieldset { border: 1px solid #C4BDB6; margin: 5px 0 0; }
fieldset legend, fieldset legend a { font-style: italic; color: #3A4C00; }

.ui-datepicker { background-color: #fff;}

.header-img .block-nodeblock .node .links { background-color: #BEB0A2; bottom: 0; position: absolute; }
/* ------------------------------ END CONTENT MANAGEMENT ------------------------------- */


/* ------------------------------ START INDUSTRY CALENDAR ------------------------------- */

 /* START - MINI CAL ON EVENTS LANDING */

  #block-views-events-block_1 h2 {
    padding: 5px 5px 10px;
    color: #fff;
  }

  #block-views-events-block_1 .content {
    padding: 0 5px 5px;
    background-color: #7D9AAA;
  }

  #block-views-events-block_1 .views-row {
    border-top: 1px solid #00467F;
    padding: 5px 0;
  }

  #block-views-events-block_1 .views-row div {
    display: inline-block;
  }

  /* Date Field*/
  #block-views-events-block_1 .views-field-field-event-datetime-value {width: 50px}
  #block-views-events-block_1 .views-field-field-event-datetime-value span.field-content {
    background-color: #fff;
    padding: 3px;
  }

  #block-views-events-block_1 .views-field-title {width: 220px;}

  #block-views-events-block_1 .views-field-province {
    background: url(http://icons.iconarchive.com/icons/walrick/openphone/16/Maps-icon.png) left center no-repeat;
    padding-left:20px;
  }

 /* END - MINI CAL ON EVENTS LANDING */

#cal-slider #prev,
#cal-slider #next {
  position: absolute;
  top: 0;
  height: 125px;
  display: block;
  z-index: 20;
  line-height: 125px;
  width: 230px;
}


#cal-slider .arrow-box {
  padding:0 2px;
  background-color: #543022;
  height: 125px;
  display: inline-block;
}

#cal-slider #prev {
  left:0;
}

#cal-slider #next {
  right:0;

}

#cal-slider #next .arrow-box { margin-left:210px; }


#cal-slider {
  position:relative;
  width:670px;
  height:150px;
  overflow: hidden;
}

#cal-slider .active-item {
  background: url("../img/layout/industry-active.png") no-repeat scroll top left transparent;
  position: absolute;
  width: 218px;
  height: 146px;
  top:-4px;
  left:226px;
  z-index: 15;
}

#cal-slider .cal-items {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  padding: 0 20px;
  height:125px;
  top:0;
  left:0;
  background: url("../img/layout/industry-bg.png") no-repeat scroll left bottom transparent;
}

#cal-slider .cal-item {
  width:210px;
  height: 125px;
  float: left;
  position:relative;
  background: url("../img/layout/industry-box.png") no-repeat scroll left top transparent;
}

#cal-slider .cal-item .cal-content {
  margin: 8px 12px 31px;
  height: 86px;
  font-size: 11px;
}

#cal-slider .cal-item .cal-content .view-empty {
  background: url("../img/layout/no-events.jpg") no-repeat scroll center bottom transparent;
  height: 75px;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  color: #afaeae;
}

#cal-slider .cal-item .cal-content .view-empty p {
  padding: 5px 0 0;
}

#cal-slider .cal-item .cal-content ul {
  margin:0;
}

#cal-slider .cal-item .cal-content li {
  background: url("../img/layout/bullet-tiny.gif") no-repeat scroll  left center transparent;
  list-style: none outside none;
  margin:0;
  padding: 2px 0 2px 8px;
}

#cal-slider .cal-item .cal-date {
  position: absolute;
  height:23px;
  line-height: 23px;
  bottom: 4px;
  left:0;
  width:210px;
  text-align: center;
  color: #fff;
}

#cal-slider .active-cal-item .cal-date {
  font-weight: bold;
}


.view-industry-calendar .view-filters { display: none; }

.view-industry-calendar .view-header {
  float:right;
}

.view-industry-calendar .views-row {
  padding-top: 5px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.view-industry-calendar .event-date {
  background-color: #FAEFE1;
  border: 1px solid #DDDDDD;
  padding
}

.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 11px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-n {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  bottom: 0.25em;
}

.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #fff;
  left: 0.25em;
}

.arrow-s {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #fff;
  top: 0.25em;
}

.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #fff;
  right: 0.25em;
}
/* ------------------------------ END INDUSTRY CALENDAR ------------------------------- */


/* ------------------------------ START RESOURCES ------------------------------- */

/* Main Display */

/* Category landing */

#resourcepanel .center-wrapper h2 {
  margin-bottom: 0px;
  margin-left: 0px;
}

#resourcepanel .center-wrapper .clear-block:after {
  display: none !important;
  content: none !important;
}

#resourcepanel .center-wrapper .views-table td {
  line-height: 20px;
  padding: 10px 5px 10px 10px;
}

#resourcepanel .center-wrapper .views-table th {
  padding-top: 0;
}


/* Browse */

/* Node */

/* Controls */

.view-resources .views-exposed-form {}

.view-resources .views-exposed-form select {
  padding: 3px;
  outline: 0;
  border: 3px solid #C5CAB3;
}

.view-resources .views-exposed-form .selects select {
  display: block;
  float: none;
  margin: 0 0 3px 0;
}

#edit-category-hierarchical-select-selects-1,
#edit-category-hierarchical-select-selects-2,
#edit-category-hierarchical-select-selects-3,
#edit-category-hierarchical-select-selects-4,
#edit-category-hierarchical-select-selects-5 {
  margin-left: 20px;
}

img.resfolder {
  float: left;
  padding: 3px 0 0 3px;
}

.view-resources .views-widget-filter-term_node_tid_depth {
  padding: 0;
  border-right: 1px solid #4b2819;
}

.view-resources .views-widget-filter-term_node_tid_depth .views-widget {
  padding: 0 15px 0 0;
}

.view-resources .views-widget-filter-premium {
  padding-left: 15px;
  padding-top: 0px;
}






.view-resources .view-content {
    background: url("../img/layout/tablehead.png") repeat-x scroll left -90px rgba(0, 0, 0, 0);
    padding: 10px 0 0;
}

.view-resources .views-row {
  background-color: #FFFFFF;
  padding: 0 15px;
}

.view-resources .views-row-first {
  padding-top: 15px;
}

.view-resources .views-row .resource-item { position: relative; padding-bottom: 15px;}

.view-resources .views-row .resource-item .fivestar-static-form-item {
  position: absolute;
  top: 25px;
  right: 0;
}

.view-resources .views-row .resource-item h3 {
  margin: 0;
  width: 530px;
}

.view-resources .views-row .resource-item .button {
  position: absolute;
  top:0;
  right: 0;
}

.view-resources .views-row .resource-item .read-more { display: none; }

.view-resources .views-row .resource-item .resource-description {
  border-bottom: 1px solid #CCCCCC;
  padding-top: 5px;
}

.view-resources .views-row .resource-item .resource-description p {
  margin: 0 0 10px;
}

.view-resources .views-row-last .resource-item .resource-description {
  border-bottom: none;
}

.view-resources .views-row .resource-item .resource-description-inner {
  width: 530px;
}

.view-resources .views-row .resource-item .resource-links {
  font-size: 0.9em;
  font-style: italic;
  padding-bottom: 10px;
}

.pane-tcia-resources-0 ul,
#block-tcia_resources-0 ul { list-style: none; padding:0; margin:20px 0 0 0 !important; }
.pane-tcia-resources-0 ul li,
#block-tcia_resources-0 ul li { margin:0 10px 0 0; padding: 0 0 5px; list-style: none; }
.pane-tcia-resources-0 li a,
#block-tcia_resources-0 li a { padding: 10px 15px; display: block; background-color: #c5cab3; text-decoration: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); position:relative; font-size: 110%; font-weight: bold; }
.pane-tcia-resources-0 li a:hover,
#block-tcia_resources-0 li a:hover { background-color: #b0b799; color:#3C3732; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); }

.page-resources-browse #main-wrapper-inner { margin-bottom: 20px; }

p.resource-about { margin: 0 0 25px; }

.resource {}
.resource-inner { background: url("../img/layout/box-bg.png") no-repeat scroll left top transparent; padding: 10px 15px 25px 10px; font-size: 12px; }
.resource-inner h2 { margin-top: 0; }
.resource-nodes { padding-bottom: 1em; }
.resource-nodes .item-list li { list-style: none outside none; margin: 0; padding: 0 0 0 8px; background: url('../img/layout/bullet-tiny.gif') no-repeat scroll left center transparent; }
.resource-nodes .right { float:right; }
/*
.other-resources { padding: 0 10px 10px; }
.other-resources .menu-block-15 { padding: 15px 15px 20px; background-color: #FAEFE1; border: 1px solid #DDDDDD; }
.other-resources .menu { margin-bottom:0; }
.other-resources .menu ul,
.other-resources .menu li { list-style-image: none; list-style-type: none; margin:0; padding: 0 0 20px; }
.other-resources .menu li.last { padding-bottom: 0; }
.other-resources .menu li li { list-style: none outside none; margin: 0; padding: 0 0 3px 8px; background: url('../img/layout/bullet-tiny.gif') no-repeat scroll left center transparent; }
.other-resources .menu ul { padding:0; }
*/
.resource-by-topic { padding-top: 1em; border-top: 1px solid #000; }
.resource-folders .item-list li { width: 50%; float: left; margin:0; }
.resource-folders .item-list ul,
.resource-folders .item-list li,
.resource-by-topic .item-list li { list-style: none inside url("../img/icons/folderopened.png"); }
.bmg-designation { line-height: 32px; padding: 5px 10px; background-color: #FAEFE1; border: 1px solid #DDDDDD; display: inline-block;
}
.bmg-designation img { float: left; padding-right: 1em; }
.bmg-designation span { display: inline-block; line-height: 32px; }

.resource .resource-links {
  padding-bottom: 10px;
  font-style: italic;
}
.resource ul.links {
  font-size: 100% !important;
  padding: 0 0 10px 0 !important;
}

#res-files h3 {
  margin-top: 0;
}



/* ------------------------------ END RESOURCES ------------------------------- */

#postscript-four .block-ad h2 {
  color:#fff;
  font-size:16px;
  margin-bottom:5px;
  letter-spacing: 1px;
  text-align: center;
}

#sidebar-last .block-ad .image-advertisement {
  text-align: center;
}

.authlinks-menu { float:right; padding:0; line-height: 25px; margin:0;}
  .authlinks-menu li { display: block; float: left; height: 25px; padding:0; margin: 0 0 0 2px; }
  .authlinks-menu a { font-size: 13.34px; font-family: helvetica,arial,freesans,clean,sans-serif !important; display: block; padding: 0 10px; color: #fff; text-transform: uppercase; text-shadow: 1px 1px 1px #000; text-decoration: none; }
  .authlinks-menu a:hover, #top-navigation .menu .active-trail a { color: #3A4C00; background: transparent url("../img/layout/header-tab.png") repeat-x bottom left scroll; text-shadow: 1px 1px 1px #fff; }

/* 75th */
#block-menu_block-16 {
  position: absolute;
  bottom:5px;
  right: 5px;
}

#block-menu_block-16 ul, #block-menu_block-16 li {
  margin:0;
  padding:0;
  list-style: none;
}

#block-menu_block-16 li {
  display: inline-block;
  border: 2px solid #fff;
  box-shadow: 0px -1px 2px 1px rgba(60, 55, 50, 0.50);
  behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc);
  margin-left: 2px;
}

#block-menu_block-16 li a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: #cbd0b4; /* Old browsers */
  background: -moz-linear-gradient(top, #cbd0b4 0%, #86925c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbd0b4), color-stop(100%,#86925c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cbd0b4 0%,#86925c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cbd0b4 0%,#86925c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cbd0b4 0%,#86925c 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cbd0b4 0%,#86925c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbd0b4', endColorstr='#86925c',GradientType=0 ); /* IE6-9 */
}

/* -------------------------------- Galleries ---------------------------------- */

.view-id-node_gallery_gallery_image_views .views-field-title { display: none; }


.node_gallery_image .image-wrapper {
  text-align: center;
}
.node_gallery_image .imagecache-node-gallery-display, .imagecache-node-gallery-thumbnail img { border: 4px solid #fff !important; box-shadow: 0px 0px 5px rgba(60, 55, 50, 0.50); behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); display: block; margin: 0pt auto 20px;}

.node_gallery_image .caption {
  width: 500px;
  margin: 0px auto;
}

#node-gallery-image-navigator {
  background: transparent url("../img/layout/blog-comments-bg.png") repeat scroll left top;
  text-align: center;
  color: #3A4C00;
}

#node-gallery-image-navigator tr {
  border: none;
}
#node-gallery-image-navigator td {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #ccc;
}

#node-gallery-image-navigator a:hover {
  background-color: #FBF4EA;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-decoration: underline;
}
#node-gallery-image-navigator a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #3A4C00;
}

.node-type-node-gallery-image #comments {
  width:800px;
  margin: 0px auto;
}

/* -------------------------------- START LATEST RESOURCE BLOCK ---------------------------------- */
.page-membership-resources #content-top { float:right; margin-top: 25px; width: 375px; height: 20px; line-height: 20px; }
#block-views-latest_resource-block_1 h2 { height: 20px; color: #fff; -webkit-border-radius: 10px 0 0 10px; -moz-border-radius: 10px 0 0 10px; border-radius: 10px 0 0 10px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); background: transparent url("../img/layout/navbar.png") no-repeat scroll left top; padding: 0 10px 0 15px; line-height: 20px; font-size: 15px; letter-spacing: 0; }
#block-views-latest_resource-block_1 .content { padding: 0 15px; behavior: url(/sites/tcia.org/themes/tcia/css/pie.htc); background-color: #C6C8B2; webkit-border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; border-radius: 0 10px 10px 0; font-size: 12px; }
#block-views-latest_resource-block_1 h2,
#block-views-latest_resource-block_1 .content { float: left; }
/* -------------------------------- END LATEST RESOURCE BLOCK ---------------------------------- */
