/* $Id$ */
/**
 * Omega, for Drupal 6.x
 * Jake Strawn - http://himerus.com
 * Project Page - http://drupal.org/project/omega
 * 
 * The regions.css file provides an overview of the available parent
 * elements for the various regions of the page.tpl.php for easier 
 * overriding at a glance.
 *
 *
 * Omega CSS Table of Contents for regions.css
 *
 * 1.) Main Wrapper Regions
 * 2.) Navigation & Header Regions
 * 3.) Preface Regions
 * 4.) Main Content Regions
 * 5.) Sidebar Regions
 * 6.) Postscript Regions
 * 7.) Footer Regions
 */ 
 
/** ################# 1.) Main Wrapper Regions ####################### */

#page {
	
}

/** ################# 2.) Navigation & Header Regions ####################### */

#site-header {
  margin-bottom: 0;
  margin-top: 10px;
}

#internal-nav {
	margin-bottom: 0;
  margin-top: 20px;
}

#slogan-bcrumb {
  
}

#branding {
  
}

#site-menu {
	
}

#header-first {
	margin-top: 0;
}

#header-last {
	margin-top: 0;
}

/** ################# 3.) Preface Regions ####################### */

#preface-wrapper {
	margin-top: 20px;
}

#preface-first {
	
}

#preface-middle {
  
}

#preface-last {
	
}

/** ################# 4.) Main Content Regions ####################### */
#main-content-container {
  margin-top: 20px;	
}
#main-wrapper {
	
}

#mission {
  
}

#content-top {
	margin-bottom: 20px;
}

#content-tabs {
	
}

#main-content {
	margin-bottom: 20px;
}

#content-bottom {
	margin-bottom: 20px;
}

/** ################# 5.) Sidebar Regions ####################### */

#sidebar-first {
	
}

#sidebar-last {
	
}

/** ################# 6.) Postscript Regions ####################### */

#postscript-wrapper {
  margin-bottom: 20px;
}

#postscript-one {
  
}

#postscript-two {
  
}

#postscript-three {
  
}

#postscript-four {
  
}

/** ################# 7.) Footer Regions ####################### */

#footer-first {
  
}

#footer-last {
  
}

#footer-first, #footer-last {
	margin-bottom: 0;
}