/* $Id$ */
/**
 * Omega, for Drupal 6.x
 * Jake Strawn - http://himerus.com
 * Project Page - http://drupal.org/project/omega
 * 
 * The text.css file should not contain any styles other than basic
 * font manipulation. 
 */
 
/** ################# Custom CSS Styles ####################### */
body {
  font: 13px/1.5 Verdana,Helvetica,Arial,sans-serif;
}Verdana,Helvetica,Arial,sans-serif

a:link, a:visited {
  color: #202124;
  text-decoration: underline;
}

a:hover {
  color: #0062A0;
  text-decoration: none;
}

a:active, a.active {
  color: #202124;
  text-decoration: none;
  color: #000;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
	font-family: Georgia, 'Times New Roman', serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

/* make it a bit smaller for block headers */
.block h2 {
  font-size: 18px;
  margin: 0;	
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}

dl {
  
}
